<div class="container">
<h2>Depositar</h2>
<%= form_tag(deposit_path) do %>
<%= text_field_tag(:value) %>
<%= submit_tag("Depositar") %>
<% end %>
</div>

<div class="container">
<h2>Sacar</h2>
<%= form_tag(draw_path) do %>
<%= text_field_tag(:value) %>
<%= submit_tag("Sacar") %>
<% end %>
</div>
<div class="container">
<h2>Transferir</h2>
<%= form_tag(transfer_path) do %>
<%= label_tag(:value, "Conta Destino:") %>
<%= collection_select(:user, :user_id, User.all, :id, :email) %>
<%= text_field_tag(:value) %>
<%= submit_tag("Transferir") %>
<% end %>
</div>
<div class="container">
<h2>Mudar Status da Conta</h2>
<%= form_tag(change_status_path) do %>
<%= select_tag(:status, raw('<option value="Ativa">Ativa</option><option value="Desativa">Desativa</option>')) %>
<%= submit_tag("Mudar Status") %>
<% end %>
</div>