<!DOCTYPE html>
<html>
   <head>
      <title>Nobu</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>
   <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/">
         Nobu
         </a>
         
         <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
        <a class="nav-link" href="/actions">Realizar Ações na Conta</a>
              </li>
            </ul>
            <span class="navbar-right">
            <% if user_signed_in? %>
            Logado como: 
            <strong><%= current_user.email %></strong> 
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'btn'  %>
            <% else %>
            <% end %>
            </span>
         </div>
      </nav>
   </header>
   <body>
   <div class="container">
      <%= yield %>
      </div>
   </body>
   <footer class="page-footer font-small footer">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© Nobu
         <br><a class="link-footer">Pedro Crisanto</a>
      </div>
      <!-- Copyright -->
   </footer>
</html>